var CategoryDescriptions = React.createClass({
  render: function(){
    return (
      <div className="about_team_show_page">

        <h4 className="ui horizontal divider header"> MeToo Categories </h4>

        <p>Categories in the FixStart community are self-assigned by the member who created the issue. Issues may require multiple categories and may also need support not listed.</p>

        <table className="ui very basic doubling celled table">
          <tbody>

            <tr>
              <td>
                <h4 className="ui image header">
                  <img src="<%= image_url('map_icons/pitch-24.png') %>"  className="ui mini rounded image" />
                  <div className="content">
                    Violence / Assault
                    <div className="sub header">Basic
                  </div>
                </div>
              </h4></td>
              <td>
                Assaults and other reported uses of violence
              </td>
            </tr>

            <tr>
              <td>
                <h4 className="ui image header">
                  <img src="<%= image_url('map_icons/waste-basket-24.png') %>" className="ui mini rounded image" />
                  <div className="content">
                    Noise
                    <div className="sub header">Basic
                  </div>
                </div>
              </h4></td>
              <td>
                General noise complaints
              </td>
            </tr>


            <tr>
              <td>
                <h4 className="ui image header">
                  <img src="<%= image_url('map_icons/square-stroked-24.png') %>"  className="ui mini rounded image" />
                  <div className="content">
                    Sexual Assault
                    <div className="sub header">Strength
                  </div>
                </div>
              </h4></td>
              <td>
                Sexual incidents which include indecent exposure, sexual harassment, and rape
              </td>
            </tr>

            <tr>
              <td>
                <h4 className="ui image header">
                  <img src="<%= image_url('map_icons/square-24.png') %>"  className="ui mini rounded image" />
                  <div className="content">
                    Theft
                    <div className="sub header">Strength
                  </div>
                </div>
              </h4></td>
              <td>
                Stolen property, burglaries, and other reports of theft
              </td>
            </tr>

            <tr>
              <td>
                <h4 className="ui image header">
                  <img src="<%= image_url('map_icons/logging-24.png') %>"  className="ui mini rounded image" />
                  <div className="content">
                    Harassment
                    <div className="sub header">Extra items needed
                  </div>
                </div>
              </h4></td>
              <td>
                General (non-sexual) harassment, bullying, or threats
              </td>
            </tr>

            <tr>
              <td>
                <h4 className="ui image header">
                  <img src="<%= image_url('map_icons/police-24.png') %>"  className="ui mini rounded image" />
                  <div className="content">
                    Suspicious Activity
                    <div className="sub header">Report
                  </div>
                </div>
              </h4></td>
              <td>
                Trespassing, loitering, and other forms of suspicious activity
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      )
  }
})
